<div id="intro">

  <div id="content">
    <div id="til">Lucid Piano</div>
    <div id="con">
      It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…
      It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…
    </div>
  </div>
  <div id="showcases" class="container">
    <div class="showcase_til">Showcase_1</div>
    <div class="width_3"><img src="https://www.classicdriver.com/sites/default/files/styles/article_half/public/article_images/phillips-design-sale-09.jpg?itok=tgyZXZ-9"></div><!--
    --><div class="width_3"><img src="http://assets.gcstatic.com/u/apps/asset_manager/uploaded/2014/41/peugeot-pleyel-piano-2-1413382639-custom-0.jpg"></div><!--
    --><div class="width_3"><img src="https://www.classicdriver.com/sites/default/files/styles/article_half/public/article_images/phillips-design-sale-09.jpg?itok=tgyZXZ-9 "></div><!--
    --><div class="width_7"><img src="https://3.bp.blogspot.com/-UjSubaZwMgk/Vx6NtaHIrxI/AAAAAAAA2RI/7KUDz_zv3SY1FCoymLKpo9eD0WhQ3PF1gCLcB/s1600/1280_prince_piano_etexclusive.jpg"></div><!--
    --><div class="width_3">
    <div class="text">It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…</div>
  </div>
  </div>

  <div id="showcases_2">
    <div class="showcase_til">Showcase_2</div>
    <div class="width_5" @mousemove="hovermov($event)">
      <img class="before" src="https://3.bp.blogspot.com/-UjSubaZwMgk/Vx6NtaHIrxI/AAAAAAAA2RI/7KUDz_zv3SY1FCoymLKpo9eD0WhQ3PF1gCLcB/s1600/1280_prince_piano_etexclusive.jpg">
      <div class="after">
        <div class="content">
        <div class="til">Demo Title</div>
        <div class="cont"> It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…</div>
        </div>
      </div>
    </div><!--
    --><div class="width_5_w">
    <img class="before" src="http://mm.antiquepianoshop.com/files/ExtendedProductImage/wzSEmG5893wSC9N.jpg">
    <div class="after">
      <div class="content">
        <div class="til">Demo Title</div>
        <div class="cont"> It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…</div>
      </div>
    </div>
  </div><!--
    --><div class="width_5_w">
    <img class="before" src="http://mm.antiquepianoshop.com/files/ExtendedProductImage/wzSEmG5893wSC9N.jpg">
    <div class="after">
      <div class="content">
        <div class="til">Demo Title</div>
        <div class="cont"> It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…</div>
      </div>
    </div>
  </div>
  </div>

  <div id="showcases_3">
    <div class="showcase_til">Showcase_3</div>
    <div class="pro_con" id="scene">
      <div class="layer" data-depth="0.05">
        <div class="content">
          <div class="til">Demo Title</div>
          <div class="cont">
            It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…
          </div>
        </div>
      </div>
      <div class="layer layer_2" data-depth="0.05" :style="{'background-image':'url(' + http://pic.vcg.cn/bigimg/800bigwater/8269000/d4b082832.jpg +')'}" data-depth="0.10">
        <div class="content">
          <div class="til">Demo Title</div>
          <div class="cont">
            It’s not only classic cars and timepieces achieving record prices at auction – vintage furniture is muscling in on the act, too. At Phillips’ Design Sale in New York on 9 June 2015, some exceptional pieces will go under the hammer. We’ve had a look through the catalogue…
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
