#header{
  #w_til{
    position: absolute;
    padding: 0.5em;
    font-weight: 300;
  }
  position: fixed;
  color: black;
  background: #fafafa;
  z-index: 1000;
  font-weight: 100;
  height: 35px;
  width: 100vw;
  font-size: 1em;
  font-weight: 300;
  #item_con{
    text-align: right;
    height: 100%;
    overflow: hidden;
    width:100%;
    padding: 0.5em;
    .h_item{
      display:inline-block;
      margin-right: 50px;
      &:hover{
        text-decoration: line-through;

      }
    }
  }

}
