<div id="notificationpage" class="container">
  <div class="page_til">通知中心</div>
  <div class="page_content">
    <div class="content_l"></div><!--
    --><div class="content_r">
          <div class="notify warning">
            <div class="l_icn"><i class="fa fa-exclamation-triangle" aria-hidden="true"><div class="lb">警告</div></i></div>
            <div class="r_lb">
              <div class="ct">尊敬的用户,系统检测到您有一张照片正被未允许网站盗用。<br/>请及时查看</div>
            </div>
          </div>
      </div>
  </div>
</div>
